[www]
user = www-data
group = www-data
listen = {{ php_fpm_listen }}
listen.owner = www-data
listen.group = www-data

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.process_idle_timeout = 10s
pm.max_requests = 500

pm.status_path = /php_fpm_status
ping.path = /php_fpm_ping
ping.response = pong

access.log = {{ php_log_dir }}/$pool.access.log
access.format = "%R - %u %t \"%m %r%Q%q\" %s %f %{mili}d %{kilo}M %C%%"

slowlog = {{ php_log_dir }}/$pool.slow.log
request_slowlog_timeout = 3
request_slowlog_trace_depth = 20

clear_env = no

catch_workers_output = yes
php_admin_value[upload_max_filesize] = 32M
php_admin_value[memory_limit] = 1024M
php_admin_value[session.save_path] = /tmp
php_admin_value[error_log] = {{ php_log_dir }}/$pool.error.log
php_admin_flag[log_errors] = on
